<div class="col-sm-6 col-sm-offset-3">
    <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="議題を入力してください...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">作成</button>
        </span>
    </div>
    <div class="input-group mt-3">
        <input type="text" class="form-control" disabled>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">コピー</button>
        </span>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <%= link_to "表決へ", feelings_index_path, class: "btn btn-primary col-sm-12 mt-10" %>
    </div>
</div>