<div class="col-sm-6 col-sm-offset-3">

    <%= form_with url: feelings_create_path do |f| %>
        <% if $title && $title.length > 0 %>
            <%= f.text_field :title, class: "form-control", value: $title, disabled: true %>
        <% else %>
            <%= f.text_field :title, class: "form-control", placeholder: "議題を入力してください..." %>
        <% end %>
        <%= f.submit "表決へ",  class: "btn btn-primary col-sm-12 mt-10" %>
    <% end %>
</div>