@import "bootstrap-sprockets";
@import "bootstrap";

.custom-header{
    margin-left: 50px;
}

.container-fluid{
    margin-top: 50px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-10{
    margin-top: 100px;
}