// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-join-form {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    input {
        margin-top: 50px;
    }
}

.new_user {
    width: 100%;
}

.m-0 {
    margin: 0
}

.starR{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
  }
  .starR.on{
    background-position:0 0;
  }